
<app-header ></app-header>
<!-- <p>home works!</p> -->
<section  style="" class="banner-area relative  justify-center align-center" id="home">
   
    <!-- <video class="w-100" playsinline="" autoplay="autoplay" loop="loop" muted="muted" class="fullscreen" style="display: block;" autoPlay="autoplay" loop="loop" muted>
        <source class="w-100" src="https://www.youtube.com/watch?v=JIxZJ1Ia11c" type="video/mp4" />
    </video> -->
    <iframe class="w-100"  height="700" src="https://www.youtube.com/embed/JIxZJ1Ia11c?autoplay=1&mute=1&playlist=JIxZJ1Ia11c&loop=1&controls=0">
    </iframe>
    
    

    
    <!-- <div  class="">
        <h1 style="font-size: 26px;">
            "Elevating Visions to New Height"			
        </h1>
        <div class="container" style="position: relative; top: 72%;">
            <div class="row fullscreen d-flex justify-content-center align-items-center">
                <div class="banner-content col-md-12 justify-content-center ">
                    <h1 id="vision" style="font-size: 26px;">
                        
                    </h1>
    
                </div>											
            </div>
        </div>

    </div> -->
   
</section>
<!-- <section class="service-area mt-45px" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 header-text text-center">
                <h1 class="mb-10">What we offer to our clients</h1>
            </div>
        </div>
    </div>
</section> -->
<app-content-img [bim_outsourcing] = bim_outsourcing></app-content-img> 

<!-- <div class="">
    <div class="">
        <h2><h4>BIM OUTSOURCINGARCHITECTURE</h4></h2>
        <a href="#"></a>
        <p>
            Sony laptops are among the most well known laptops on today’s market. Sony is a name that over time has established itself as creating a solid product.
        </p>
    </div>
</div>	 -->

<section class="service-area section-gap" style="padding: 80px 0px 50px 0px;" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 pb-50 header-text text-center">
                <h1 class="mb-10">OUR BIM OUTSOURCING SERVICE OFFERINGS</h1>
                <!-- <p>
                    Who are in extremely love with eco friendly system..
                </p> -->
            </div>
        </div>						
        <div class="row mb-25px">
            <app-cards [calledFrom]="'BIM OUTSOURCING SERVICE'" [col]="'three'" [imgPath]="'assets/homepage/ARCHITECTURE BIM SERVICE.png'" [heading]="'ARCHITECTURE BIM SERVICE'" [description]="'Architectural BIM Services create precise Revit, ArchiCAd models from sketches, scans, and PDFs, including custom content and 3D rendering,aligned with client`s SOW and LOD specifications.'"></app-cards>

            <app-cards [calledFrom]="'BIM OUTSOURCING SERVICE'" [col]="'three'" [imgPath]="'assets/homepage/STRUCTURE BIM SERVICE.png'"
            [heading]="'STRUCTURAL BIM SERVICE'" [description]="'Specializing in Structural BIM Services, we expedite fabrication and construction with Revit, ArchiCAD, AutoCAD modeling, offering precise shop drawings for steel and RCC, collaboration, and iterative design modifications.'"
            ></app-cards>
            <app-cards [calledFrom]="'BIM OUTSOURCING SERVICE'" [col]="'three'" [imgPath]="'assets/homepage/MEP BIM SERVICE.png'"
            [heading]="'MEP BIM SERVICE'" [description]="'Creating 3D models and drafts in Revit, ArchiCAD for MEP-FP systems, developing Revit families for MEP-FP components, coordinating MEP-FP elements, generating shop drawings, schedules, and quantities.'"
            ></app-cards>
        </div>

        
        
        <div class="row mb-25px">
            <app-cards [calledFrom]="'BIM OUTSOURCING SERVICE'" [col]="'three'"  [imgPath]="'assets/homepage/REVIT FAMILY.png'" 
            [heading]="'REVIT FAMILY CREATION'" [description]="'We specialize in comprehensive Parametric Revit Families, offering BIM objects for architectural, structural, HVAC, plumbing, electrical, and fire-fighting components.'"
            ></app-cards>
            <app-cards [calledFrom]="'BIM OUTSOURCING SERVICE'" [col]="'three'" [imgPath]="'assets/homepage/SCAN TO BIM.png'" 
            [heading]="'DRAFTING SERVICES'" [description]="'We expertly convert CAD drawings to precise BIM models with Revit/Navisworks. PDF to BIM, CAD to BIM Modeling, Hand Sketch to BIM, Quantity Take-off budget Estimation.'"
            ></app-cards>
            <app-cards [calledFrom]="'BIM OUTSOURCING SERVICE'" [col]="'three'" [imgPath]="'assets/homepage/3D MODELLING.png'" 
            [heading]="'SCAN TO BIM SERVICES'" [description]="'Precise Scan to BIM Services at LOD 500, creating detailed As-Built BIM Models of Architectural, Structural & MEPF. Built elevation, sections & plan view drawings and Quantity Take-off & Budget Estimation in 2D CAD Documentation.'"
            ></app-cards>
        </div>
            
            <div class="row mb-25px">
                <app-cards [calledFrom]="'BIM OUTSOURCING SERVICE'" [col]="'three'" [imgPath]="'assets/homepage/3D MODELLING.png'"
                [heading]="'3D MODELING'" [description]="'We specialize in comprehensive interior design documentation, including detailed floor plans, elevations, sections, and joinery details.'"
                ></app-cards>
                <app-cards [calledFrom]="'BIM OUTSOURCING SERVICE'" [col]="'three'" [imgPath]="'assets/homepage/INTERIOR.png'"
                [heading]="'INTERIOR DOCUMENTATION'" [description]="'We specialize in comprehensive interior design documentation, including detailed floor plans, elevations, sections, and joinery details.'"
                ></app-cards>
                <app-cards [calledFrom]="'BIM OUTSOURCING SERVICE'" [col]="'three'" [imgPath]="'assets/homepage/RENDERING.png'"
                [heading]="'3D RENDERING'" [description]="'Specializing in swift and cost-effective 3D rendering, We transform clients sketches, concepts, and plans into architectural visualizations with expertise in Lumion, Vray, and Enscape, catering to specific needs.'"
                ></app-cards>
            </div>
    </div>	
</section>

<section class="service-area section-gap" style="padding: 0px;" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 pb-50 header-text text-center">
                <h1 class="mb-10">OUR PROJECTS</h1>
                <!-- <p>
                    Who are in extremely love with eco friendly system..
                </p> -->
            </div>
        </div>						
        <div class="row mb-25px">
            <app-cards [col]="'two'" [calledFrom]="'our projects'" [imgPath]="'assets/homepage/FINAL/ARCHITECTURE.jpeg'" [heading]="'ARCHITECTURE BIM SERVICE'" [description]="'We specialize in comprehensive interior design documentation, including detailed floor plans, elevations, sections, and joinery details.'" ></app-cards>
            <app-cards [col]="'two'"  [heading]="'STRUCTURAL BIM SERVICE'"  [calledFrom]="'our projects'" [imgPath]="'assets/homepage/FINAL/structure.png'" [description]="'We specialize in comprehensive interior design documentation, including detailed floor plans, elevations, sections, and joinery details.'"></app-cards>
        </div>
        
        <div class="row mb-25px">
            <app-cards [col]="'two'" [calledFrom]="'our projects'" [heading]="'3REVIT FAMILY CREATION'" [imgPath]="'assets/homepage/FINAL/mep.png'" [description]="'We specialize in comprehensive interior design documentation, including detailed floor plans, elevations, sections, and joinery details.'"></app-cards>
            <app-cards [col]="'two'" [calledFrom]="'our projects'" [imgPath]="'assets/homepage/FINAL/mep.png'" [heading]="'MEP BIM SERVICE'" [description]="'We specialize in comprehensive interior design documentation, including detailed floor plans, elevations, sections, and joinery details.'"></app-cards>
        </div>
            
        <div class="row mb-25px">
            <app-cards [col]="'two'" [calledFrom]="'our projects'" [heading]="'3D MODELING'" [imgPath]="'assets/homepage/FINAL/3d modeling.jpeg'" [description]="'We specialize in comprehensive interior design documentation, including detailed floor plans, elevations, sections, and joinery details.'"></app-cards>
            <app-cards [col]="'two'" [calledFrom]="'our projects'" [imgPath]="'assets/homepage/FINAL/SCAN TO BIM.jpeg'"  [heading]="'SCAN TO BIM SERVICES'" [description]="'We specialize in comprehensive interior design documentation, including detailed floor plans, elevations, sections, and joinery details.'"></app-cards>
        </div>
        <div class="row mb-25px">
            <app-cards [col]="'two'" [calledFrom]="'our projects'" [heading]="'INTERIOR DOCUMENTATION'" [imgPath]="'assets/homepage/FINAL/INTERIOR DOCUMENTATION.jpg'" [description]="'We specialize in comprehensive interior design documentation, including detailed floor plans, elevations, sections, and joinery details.'"></app-cards>
            <app-cards [col]="'two'" [calledFrom]="'our projects'" [imgPath]="'assets/homepage/FINAL/3d modeling.jpeg'"  [heading]="'3D RENDERING'" [description]="'We specialize in comprehensive interior design documentation, including detailed floor plans, elevations, sections, and joinery details.'"></app-cards>
        </div>
    </div>	
</section>

<section class="service-area section-gap" style="padding: 50px 0 70px 0;" id="service">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 pb-50 header-text text-center">
                <h1 class="mb-10">Why Choose Us?</h1>
                <!-- <p>
                    Who are in extremely love with eco friendly system..
                </p> -->
            </div>
        </div>						
        <div class="row mb-25px">
            <app-cards [col]="'three'" [imgPath]="'assets/homepage/chooseus/quality_affordability.png'" [heading]="'QUALITY & AFFORDABILITY'" [description]="'Architectural BIM Services create precise Revit, ArchiCAd models from sketches, scans, and PDFs, including custom content and 3D rendering,aligned with client`s SOW and LOD specifications.'"></app-cards>

            <app-cards [col]="'three'" [imgPath]="'assets/homepage/chooseus/QUICK TURN AROUND TIME.png'"
            [heading]="'QUICK TURNAROUND TIME'" [description]="'Specializing in Structural BIM Services, we expedite fabrication and construction with Revit, ArchiCAD, AutoCAD modeling, offering precise shop drawings for steel and RCC, collaboration, and iterative design modifications.'"
            ></app-cards>
            <app-cards [col]="'three'" [imgPath]="'assets/homepage/chooseus/ADVANCE TECHNOLOGY.png'"
            
            [heading]="'ADVANCE TOOLS AND TECHNOLOGY'" [description]="'Creating 3D models and drafts in Revit, ArchiCAD for MEP-FP systems, developing Revit families for MEP-FP components, coordinating MEP-FP elements, generating shop drawings, schedules, and quantities.'"
            ></app-cards>
        </div>

        
        
        <div class="row mb-25px">
            <app-cards [col]="'three'"  [imgPath]="'assets/homepage/chooseus/EXPERT TEAM.png'" 
            [heading]="'EXPERT TEAM'" [description]="'We specialize in comprehensive Parametric Revit Families, offering BIM objects for architectural, structural, HVAC, plumbing, electrical, and fire-fighting components.'"
            ></app-cards>
            
            <app-cards [col]="'three'" [imgPath]="'assets/homepage/chooseus/CLIENT CENTRIC APPROCH.png'" 
            [heading]="'CLIENT CENTRIC APPROCH'" [description]="'We expertly convert CAD drawings to precise BIM models with Revit/Navisworks. PDF to BIM, CAD to BIM Modeling, Hand Sketch to BIM, Quantity Take-off budget Estimation.'"
            ></app-cards>
            <app-cards [col]="'three'" [imgPath]="'assets/homepage/chooseus/VERSATILITY.png'" 
            [heading]="'VERSATILITY'" [description]="'Precise Scan to BIM Services at LOD 500, creating detailed As-Built BIM Models of Architectural, Structural & MEPF. Built elevation, sections & plan view drawings and Quantity Take-off & Budget Estimation in 2D CAD Documentation.'"
            ></app-cards>
        </div>
            
            <!-- <div class="row mb-25px">
                <app-cards [col]="'three'" [imgPath]="'/assets/homepage/3D MODELLING.png'"
                [heading]="'3D MODELING'" [description]="'We specialize in comprehensive interior design documentation, including detailed floor plans, elevations, sections, and joinery details.'"
                ></app-cards>
                <app-cards [col]="'three'" [imgPath]="'/assets/homepage/INTERIOR.png'"
                [heading]="'INTERIOR DOCUMENTATION'" [description]="'We specialize in comprehensive interior design documentation, including detailed floor plans, elevations, sections, and joinery details.'"
                ></app-cards>
                <app-cards [col]="'three'" [imgPath]="'/assets/homepage/RENDERING.png'"
                [heading]="'3D RENDERING'" [description]="'Specializing in swift and cost-effective 3D rendering, We transform clients sketches, concepts, and plans into architectural visualizations with expertise in Lumion, Vray, and Enscape, catering to specific needs.'"
                ></app-cards>
            </div> -->
    </div>	
</section>

<!-- <section> -->
    <div style="width: 100%;
    height: 60px;
    color: rgb(230 230 230);
    display: flex;
    justify-content: center;
    background-color: rgb(38 41 58);">
        <div style="display: flex; justify-content: center; align-items: center;">
            <span>OUR SOFTWARE EXPERTISE</span>
        </div>
    </div>

    <div style="width: 100%;
    height: 60px;
    ">
        <div style="display: flex; justify-content: space-around; align-items: center;">
            <img width="100" src="assets/SOFTWARE LOGO/AUTOCAD.png" alt="">
            <img width="100" src="assets/SOFTWARE LOGO/REVIT.png" alt="">
            <img width="100" src="assets/SOFTWARE LOGO/ARCHICAD.jpeg" alt="">
            <img width="100" src="assets/SOFTWARE LOGO/LEICA.png" alt="">
            <img width="100" src="assets/SOFTWARE LOGO/LUMION.png" alt="">
            <img width="100" src="assets/SOFTWARE LOGO/NAVISWORKS.png" alt="">
            <img width="100" src="assets/SOFTWARE LOGO/SKETCHUP.png" alt="">

        </div>
    </div>
<!-- </section> -->

<!-- <section class="gallery-area pb-120">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 pb-40 header-text text-center">
                <h1 class="pb-10">Our Recent Works may impress you</h1>
                <p>
                    Who are in extremely love with eco friendly system.
                </p>
            </div>
        </div>							
        <div class="row">
            <div class="col-lg-8">
                <div class="single-gallery">
                    <div class="content">
                        <a href="#" target="_blank">
                          <div class="content-overlay"></div>
                               <img class="content-image img-fluid d-block mx-auto" src="assets/img/g1.jpg" alt="">
                          <div class="content-details fadeIn-bottom">
                            <h3 class="content-title mx-auto">Lavendar ambient interior</h3>
                            <a href="project-details.html" class="primary-btn text-uppercase mt-20">More Details</a>
                          </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-gallery">
                    <div class="content">
                        <a href="#" target="_blank">
                          <div class="content-overlay"></div>
                               <img class="content-image img-fluid d-block mx-auto" src="assets/img/g2.jpg" alt="">
                          <div class="content-details fadeIn-bottom">
                            <h3 class="content-title mx-auto">Ambient interior</h3>
                            <a href="project-details.html" class="primary-btn text-uppercase mt-20">More Details</a>
                          </div>
                        </a>
                    </div>
                </div>
            </div>	
            <div class="col-lg-4">
                <div class="single-gallery">
                    <div class="content">
                        <a href="#" target="_blank">
                          <div class="content-overlay"></div>
                               <img class="content-image img-fluid d-block mx-auto" src="assets/img/g3.jpg" alt="">
                          <div class="content-details fadeIn-bottom">
                            <h3 class="content-title mx-auto">Ambient interior</h3>
                            <a href="project-details.html" class="primary-btn text-uppercase mt-20">More Details</a>
                          </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="single-gallery">
                    <div class="content">
                        <a href="#" target="_blank">
                          <div class="content-overlay"></div>
                               <img class="content-image img-fluid d-block mx-auto" src="assets/img/g4.jpg" alt="">
                          <div class="content-details fadeIn-bottom">
                            <h3 class="content-title mx-auto">Lavendar ambient interior</h3>
                            <a href="project-details.html" class="primary-btn text-uppercase mt-20">More Details</a>
                          </div>
                        </a>
                    </div>
                </div>
            </div>												
        </div>
    </div>	
</section> -->

<!-- <section class="feature-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 pb-40 header-text text-center">
                <h1 class="pb-10 text-white">Some Features that Made us Unique</h1>
                <p class="text-white">
                    Who are in extremely love with eco friendly system.
                </p>
            </div>
        </div>							
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row align-items-center">
                        <span class="lnr lnr-user"></span>
                        <h4>Expert Technicians</h4>
                    </a>
                    <p>
                        Computer users and programmers have become so accustomed to using Windows, even for the changing.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row align-items-center">
                        <span class="lnr lnr-license"></span>
                        <h4>Professional Service</h4>
                    </a>
                    <p>
                        Finding the perfect learning tool for Flash is a daunting task to any novice web developer. One can find help.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row align-items-center">
                        <span class="lnr lnr-phone"></span>
                        <h4>Great Support</h4>
                    </a>
                    <p>
                        While most people enjoy casino ambling, sports betting, lottery and bingo playing for the fun and excitement.
                    </p>
                </div>
            </div>						
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row align-items-center">
                        <span class="lnr lnr-rocket"></span>
                        <h4>Technical Skills</h4>
                    </a>
                    <p>
                        “The moment you think of buying a Web Hosting Plan, you know one thing – So many choices, which one to choose.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row align-items-center">
                        <span class="lnr lnr-diamond"></span>
                        <h4>Highly Recomended</h4>
                    </a>
                    <p>
                        Many conventional colleges and universities are now offering online DVD repair courses, which are the exact same.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-feature">
                    <a href="#" class="title d-flex flex-row align-items-center">
                        <span class="lnr lnr-bubble"></span>
                        <h4>Positive Reviews</h4>
                    </a>
                    <p>
                        So you have your new digital camera and clicking away to glory anything and everything in sight. Now you want.
                    </p>
                </div>
            </div>	

        </div>
    </div>	
</section> -->
<!-- End feature Area -->		

<!-- Start testimonial Area -->
<!-- <section class="testimonial-area pt-120">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Testimonial from our Clients</h1> 
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-testimonial-carusel">
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="assets/img/elements/user1.png" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.
                        </p>
                        <h4 mt-30>Mark Alviro Wiens</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>								
                        </div>			                            
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="assets/img/elements/user1.png" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Hypnosis quit smoking methods maintain caused quite world over the last two decades. There is a lot of argument pertaining to
                        </p>
                        <h4 mt-30>Lina Harrington</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>								
                        </div>			                            
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="assets/img/elements/user1.png" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.
                        </p>
                        <h4 mt-30>Mark Alviro Wiens</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>								
                        </div>			                            
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="assets/img/elements/user1.png" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Hypnosis quit smoking methods maintain caused quite world over the last two decades. There is a lot of argument pertaining to
                        </p>
                        <h4 mt-30>Lina Harrington</h4>
                        <div class="star">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>								
                        </div>			                            
                    </div>
                </div>		                    
            </div>
        </div>
    </div>
</section> -->
<!-- End testimonial Area -->	

<!-- Start callto-action Area -->
<!-- <section class="callto-action-area pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="callto-action-wrap col-lg-12 relative section-gap">
                <div class="content">
                    <h1>
                        Looking for a <br>
                        quality and affordable interior design?
                    </h1>
                    <p class="mx-auto">
                        inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace.
                    </p>
                    <a href="#" class="primary-btn text-uppercase">Request quote now</a>			
                </div>							
            </div>
        </div>
    </div>	
</section> -->
<!-- End callto-action Area -->
                    
<!-- Start blog Area -->
<!-- <section class="blog-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">Ongoing Exhibitions from the scratch</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>							
        <div class="row">
            <div class="active-blog-carusel">
                <div class="single-blog-post item">
                    <div class="thumb">
                        <img class="img-fluid" src="img/b1.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>											
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">Low Cost Advertising</h4></a>
                        <p>
                            Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
                        </p>
                        <h6 class="date">31st January,2018</h6>
                    </div>	
                </div>
                <div class="single-blog-post item">
                    <div class="thumb">
                        <img class="img-fluid" src="img/b2.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>											
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">Creative Outdoor Ads</h4></a>
                        <p>
                            Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
                        </p>
                        <h6 class="date">31st January,2018</h6>
                    </div>	
                </div>
                <div class="single-blog-post item">
                    <div class="thumb">
                        <img class="img-fluid" src="img/b3.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>											
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">It's Classified How To Utilize Free</h4></a>
                        <p>
                            Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
                        </p>
                        <h6 class="date">31st January,2018</h6>
                    </div>	
                </div>	
                <div class="single-blog-post item">
                    <div class="thumb">
                        <img class="img-fluid" src="img/b1.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>											
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">Low Cost Advertising</h4></a>
                        <p>
                            Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
                        </p>
                        <h6 class="date">31st January,2018</h6>
                    </div>	
                </div>
                <div class="single-blog-post item">
                    <div class="thumb">
                        <img class="img-fluid" src="img/b2.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>											
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">Creative Outdoor Ads</h4></a>
                        <p>
                            Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
                        </p>
                        <h6 class="date">31st January,2018</h6>
                    </div>	
                </div>
                <div class="single-blog-post item">
                    <div class="thumb">
                        <img class="img-fluid" src="img/b3.jpg" alt="">
                    </div>
                    <div class="details">
                        <div class="tags">
                            <ul>
                                <li>
                                    <a href="#">Travel</a>
                                </li>
                                <li>
                                    <a href="#">Life Style</a>
                                </li>											
                            </ul>
                        </div>
                        <a href="#"><h4 class="title">It's Classified How To Utilize Free</h4></a>
                        <p>
                            Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer.
                        </p>
                        <h6 class="date">31st January,2018</h6>
                    </div>	
                </div>														

            </div>
        </div>
    </div>	
</section> -->
<!-- End blog Area -->

<!-- Start brands Area -->
<!-- <section class="brands-area pb-60 pt-60">
    <div class="container no-padding">
        <div class="brand-wrap">
            <div class="row align-items-center active-brand-carusel justify-content-start no-gutters">
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="assets/img/l1.png" alt="img"></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="assets/img/l2.png" alt="img"></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="assets/img/l3.png" alt="img"></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="assets/img/l4.png" alt="img"></a>
                </div>
                <div class="col single-brand">
                    <a href="#"><img class="mx-auto" src="assets/img/l5.png" alt="img"></a>
                </div>								
            </div>																			
        </div>
    </div>	
</section> -->

<!-- <div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                <a href="tel:+91 8770093683">+91 8770093683</a>
                <a href="mailto:support@tzv.com">support@tzv.com</a>					  
            </div>
            <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
                <ul>
                  
                  <li>
                    <a href="#">
                      <i class="fa fa-facebook-f" style="font-size:14px;color:rgb(53, 89, 252)"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/thezenithvisions?igsh=MXN5dmNqMmw4ejR5ZQ==">
                      <i class="fa fa-instagram" style="font-size:14px;color:red"></i>
                    </a>
                  </li>
                  
                  <li> <a href="https://www.linkedin.com/company/105681155/admin/dashboard/" ><i class="fa fa-linkedin" style="font-size:14px;color:#0a66c2"></i></a> </li> 
                  

                  
                  <li><a href="https://youtube.com/@thezenithvisions24?si=MFCAfI2tnL6fJ41z"> <i class="fa fa-youtube-play" style="font-size:14px;color:red"></i></a></li>
                </ul>			
            </div>
        </div>			  					
    </div>
</div> -->

 <!-- .banner-area {
    
     background: url('/assets/newbg.gif') no-repeat center center fixed;
     background-size: cover;
 } -->