<header  id="header" class="white-bg">
    <!-- <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                    <a href="tel:+91 8770093683">+91 8770093683</a>
                    <a href="mailto:support@tzv.com">support@tzv.com</a>					  
                </div>
                <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
                    <ul>
                      
                      <li>
                        <a href="#">
                          <i class="fa fa-facebook-f" style="font-size:14px;color:rgb(53, 89, 252)"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/thezenithvisions?igsh=MXN5dmNqMmw4ejR5ZQ==">
                          <i class="fa fa-instagram" style="font-size:14px;color:red"></i>
                        </a>
                      </li>
                     
                      <li> <a href="https://www.linkedin.com/company/105681155/admin/dashboard/" ><i class="fa fa-linkedin" style="font-size:14px;color:#0a66c2"></i></a> </li> 
                      

                      <li><a href="https://youtube.com/@thezenithvisions24?si=MFCAfI2tnL6fJ41z"> <i class="fa fa-youtube-play" style="font-size:14px;color:red"></i></a></li>
                    </ul>			
                </div>
            </div>			  					
        </div>
  </div> -->
  <div class="container main-menu">
      <div class=" align-items-center justify-content-between d-flex">
        <div id="logo">
          <a ><img style="width: 65px; height: 60px;" src="assets/img/logo.png" alt="" title="" /></a>
        </div>
        <nav #hoverDiv id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active "><a class="change-color hover-underline" routerLink="/home">Home</a></li>
            <li><a class="change-color hover-underline" routerLink="/aboutus">About</a></li>
            <li appHover class="menu-has-children">
              <a class="change-color hover-underline" [routerLink]="['/bim-modelling', 1]">Services</a>
              <ul style="padding: 22px;">
                
                <li>
                  <div>
                    <div style="display: flex; gap: 60px; margin-bottom: 8px;">
                      <div class="nav-services">
                        <p class="main-services">
                          <a class="anchor-customcss" [routerLink]="['/bim-modelling', 1]">
                          
                          <b>
                            ARCHITECTURE BIM SERVICE
                            
                          </b>
                        
                        </a>
                        
                      </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/bim-modelling', 1]"> -->
                            ARCHITECTURE BIM MODELING
                          <!-- </a> -->
                        </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/documentation-service', 2]" href=""> -->
                          BIM DOCUMENTATION SERVICE

                        <!-- </a> -->
                      </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/family-creation', 3]" href=""> -->
                          REVIT FAMILY CREATION

                        <!-- </a> -->
                        </p>
                        <p class="sub-services">
                          <!-- <a href=""> -->
                          LANDSCAPE MODELING

                        <!-- </a> -->
                        </p>
                      </div>
                  
                      <div class="nav-services">
                        <p class="main-services">
                          <a class="anchor-customcss" [routerLink]="['/structure-bim-modelling', 5]" href="#">
                          <b>STRUCTURAL BIM SERVICE</b>
                        </a>
                        </p>
                          
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/structure-bim-modelling', 5]" href="#"> -->
                          STRUCTURE BIM MODELING

                        <!-- </a> -->
                        </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/steel-structure-modelling', 6]" href="#"> -->
                          STEEL STRUCTURE MODELING

                        <!-- </a> -->
                        </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/rebar-detailing', 7]" href=""> -->
                          REBAR DETAILING & MODELING

                        <!-- </a> -->
                        </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/clash-detection', 8]" href=""> -->
                          CLASH DETECTION

                        <!-- </a> -->
                        </p>
                      </div>
                  
                      <div class="nav-services">
                        <p class="main-services">
                          <a class="anchor-customcss" [routerLink]="['/mechanical-bim-modelling', 9]" href="#">
                        <b>MEP BIM SERVICE</b>  
                        </a>  

                        </p>
                        <p class="sub-services">
                          MECHANICAL BIM MODELING
                        </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/electrical-bim-modelling', 10]" href="#"> -->
                          ELECTRICAL BIM MODELING

                        <!-- </a> -->
                        </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/plumbing-bim-modelling', 11]" href=""> -->
                          PLUMBING BIM MODELING

                        <!-- </a> -->
                        </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/mep-documentation', 12]" href=""> -->
                          MEP DOCUMENTATION

                        <!-- </a> -->
                        </p>
                      </div>
                  
                      <div class="nav-services">
                        <p class="main-services">
                          <a class="anchor-customcss" [routerLink]="['/cad-documentation', 13]" href="#">
                          <b>DRAFTING SERVICES</b>
                        </a>

                        </p>
                        <p class="sub-services">
                          
                          CAD DOCUMENTATION SERVICE

                       
                        </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/cad-detailing', 14]" href="#"> -->
                          CAD DETAILING SERVICE

                        <!-- </a> -->
                        </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/pdf-to-cad', 15]" href=""> -->
                          PDF TO CAD CONVERSION

                        <!-- </a> -->
                        </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/permit-sets', 16]" href=""> -->
                          PERMIT SETS & ADU DRAWINGS

                        <!-- </a> -->
                        </p>
                      </div>
                    </div>
                  
                    <div style="display: flex; gap: 60px;">
                      <div class="nav-services">
                        <p class="main-services">
                          <a class="anchor-customcss" [routerLink]="['/bim-interior-modelling', 17]">
                          <b>INTERIOR DOCUMENTATION</b>
                        </a>

                        </p>
                        <p class="sub-services">
                         <!-- <a  href="#"> -->
                            BIM INTERIOR MODELING
                         <!-- </a> -->
                         
                        </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/interior-documentation', 18]" href="#"> -->
                          INTERIOR DESIGN DOCUMENTATION
                        <!-- </a> -->
                        </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/joinery-design', 19]" href=""> -->
                          JOINERY DESIGN & DETAILS
                        <!-- </a> -->
                        </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/quantity-takeoff', 20]" href=""> -->
                          QUANTITY TAKE-OFF

                        <!-- </a> -->
                        </p>
                      </div>
                  
                      <div class="nav-services">
                        <p class="main-services"> <a class="anchor-customcss" [routerLink]="['/scan-to-bim', 21]" href="#">
                          <b>SCAN TO BIM SERVICES</b>
                        </a></p>
                        <p class="sub-services">
                         
                          SCAN TO BIM

                       
                        </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/scan-to-cad', 22]" href="#"> -->
                          SCAN TO CAD

                        <!-- </a> -->
                        </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/scan-to-structure-mep', 23]" href=""> -->
                          SCAN TO BIM STRUCTURE & MEP

                        <!-- </a> -->
                        </p>
                        <p class="sub-services">
                          <!-- <a [routerLink]="['/as-built-bim', 24]" href=""> -->
                          AS-BUILT BIM MODEL

                        <!-- </a> -->
                        </p>
                      </div>
                  
                      <div class="nav-services">
                        <p class="main-services"> <a class="anchor-customcss" [routerLink]="['/3d-architectural-rendering', 25]" href="#">
                          <b>
                            3D VISUALIZATION
                          </b>
                        </a></p>
                        <p class="sub-services" class="sub-services">
                         
                            3D ARCHITECTURAL RENDERING

                        
                        </p>
                        <p class="sub-services" class="sub-services">
                          <!-- <a [routerLink]="['/animation-walkthrough', 26]" href="#"> -->
                          ANIMATION & WALKTHROUGH

                        <!-- </a> -->
                        </p>
                        <p class="sub-services" class="sub-services">
                          <!-- <a [routerLink]="['/interior-rendering', 27]" href=""> -->
                          INTERIOR RENDERING

                        <!-- </a> -->
                        </p>
                        <p class="sub-services" class="sub-services">
                          <!-- <a [routerLink]="['/vr-visualization', 28]" href=""> -->
                          VIRTUAL REALITY VISUALIZATION

                        <!-- </a> -->
                        </p>
                      </div>
                  
                      <div class="nav-services ">
                        <p class="main-services"><a class="anchor-customcss" [routerLink]="['/revit-bim-modelling', 29]" href="#">
                          <b>3D MODELING</b>
                        </a></p>
                        <p class="sub-services">
                          
                          REVIT BIM MODELING

                        </p>
                        <p class="sub-services">
                          <!-- <a  href="#"> -->
                          ARCHICAD BIM MODELING

                        <!-- </a> -->
                        </p>
                        <p class="sub-services">
                          <!-- <a  href=""> -->
                          SKETCHUP MODELING

                        <!-- </a> -->
                        </p>
                        <p class="sub-services">
                          <!-- <a  href=""> -->
                          VECTORWORKS MODELING

                        <!-- </a> -->
                        </p>
                        <p class="sub-services">
                          <!-- <a  href=""> -->
                          CHIEF ARCHITECT MODELING
                        <!-- </a> -->
                        </p>
                      </div>
                    </div>
                  </div>
                  
                </li>
                <!-- <li>
                  <div>
                    <b>Heading</b>
                    <p>a</p>
                    <p>a</p>
                    <p>a</p>
                    <p>a</p>
                  </div>  
                </li>
                <li>
                  <div>
                    <b>Heading</b>
                    <p>a</p>
                    <p>a</p>
                    <p>a</p>
                    <p>a</p>
                  </div>  
                </li>
                <li>
                  <div>
                    <b>Heading</b>
                    <p>a</p>
                    <p>a</p>
                    <p>a</p>
                    <p>a</p>
                  </div>  
                </li> -->
               
                
              </ul>
            </li>
            <li><a class="change-color hover-underline" routerLink="/projects">Projects</a></li>
            <!-- <li appHover class="menu-has-children"><a >Blog</a>
              <ul>
                <li><a >Blog Home</a></li>
                <li><a >Blog Single</a></li>
              </ul>
            </li>	 -->
            <!-- <li appHover class="menu-has-children "><a class="change-color hover-underline" >Pages</a> -->
              <!-- <ul>
                    <li><a >Project Details</a></li>		
                  <li><a >Elements</a></li>
                    <li class="menu-has-children"><a href="">Level 2 </a>
                      <ul>
                        <li><a >Item One</a></li>
                        <li><a >Item Two</a></li>
                      </ul>
                    </li>					                		
              </ul> -->
            <!-- </li>					          					          		           -->
            <li><a class="change-color hover-underline" routerLink="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
  </div>
</header>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> -->